.logo-wrapper {
    position: fixed;
    top: 5%;
    left: 2%;
}

.player-choice-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    box-shadow: 0px 1px 9px -1px rgba(61,61,61,0.61);
    padding: 30px;
}

.player-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

label {
    margin: 10px;
}

input[type=text] {
    display: block;
    border: none;
    border-bottom: 2px solid rgb(99, 99, 99);
    margin-bottom: 25px;
    outline: none;
}

input[type=text]:focus {
    border-bottom: 2px solid rgb(9, 226, 241);
}

select {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid rgb(99, 99, 99);
    width: 100%;
    height: 30px;
}

select:focus {
    outline: none;
}

button.start {
    position: relative;
    font-family: 'Raleway', sans-serif;
    width: 60%;
    height: 40px;
    margin: auto;
    background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
    color: #f7f7f7;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

i.fa-level-down-alt {
    font-size: 30px;
}